<!DOCTYPE HTML>
    <html>
    <head>
        <meta http-equiv="Contene-Type" content="text/html; charset=UTF-8" />
        <meta name="keywords" content="test, site,website" />
        <meta name="description" content="Пробный сайт" />
        <link href="/style.css" rel="stylesheet" type="text/css"/>
        <title>Салон красоты</title>
    </head>
    <body>
    <div id="page-wrap">
        <header>
            <a href="#" title="на главную" id="logo"> Bike</a>
            <span class="contact">
	<a href="#" title="информация">О нас</a> </span>
            <input type="text" class="field" placeholder="твой помощник" />
        </header>
        <div class="clear"><br /></div>
        <center>
            <div id="menu">Разделы<hr /></div>
            <div id="menuHrefs">
                <a href="/bikes">Байки</a>
                <a href="madeIns">Пройзводители</a>
            </div>
        </center>
    <footer>
        <span class="left">все права защищены &copy; 2017</span>
        <span class="right">Соц. сети <img src="img/f.png" alt="Группа Facebook" title="Группа Facebook" /></span>
    </footer>
    </body>
    </html>